.one-tweet-page-container{
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    position: relative;
    width: 80%;
    height: 100%;
}

.center-container-one-post{
    position: relative;
    left: 0%;
    width: 50%;
}

.feed-container-one-post{
    /* height: 50vw; */
    width: 100%;
    border: 1px solid rgb(56,68,77);
}

.go-back-header{
    display: flex;
    justify-content: start;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 4%;
    cursor: pointer;
}

.back-to-tweet{
    padding-left: 4%;
}

.user-items-get-one-tweet{
    display: flex;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-items-words{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 10px;
}

.username-one-tweet{
    padding-left: 5px;
}

.submit-comment-main{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    padding-bottom: 15px;
}

.tweet-reply-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.char-counter-reply{
    padding-right: 15px;
}

.image-bubble{
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
}

.individual-comment-container{
    border: solid 1px rgb(56,68,77);
    padding-left: 10px;
    padding-top: 10px;
}

.outter-button-container-reply{
    /* width: 20%; */
    outline: none;
    margin-right: 10px;
    display: flex;
    align-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}
.new-tweet-button-one-tweet{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 155, 240);
    height: 50%;
    width: 50%;
    font-size: 16px;
}

/* @media (max-width: 1160px) {
    .outter-button-container-reply{
        left: 0;
    }
}

@media (max-width: 750px){
    .outter-button-container-reply{
        visibility: hidden;
    }
} */

.reply-button{
    width: 100px;
    color: white;
    background-color: rgb(29, 155, 240);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    font-size: 16px;
}

.tweet-body-text{
    overflow-wrap: break-word;
}
