.center-container-one-post{
    width: 63%;
    position: relative;
    left: 0%;
}

.feed-container-one-post{
    height: 50vw;
    width: 50vw;
    border: 1px solid rgb(56,68,77)
}

.go-back-header{
    display: flex;
    justify-content: start;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 4%;
    cursor: pointer;
}

.back-to-tweet{
    padding-left: 4%;
}

.user-items-get-one-tweet{
    display: flex;
    justify-content: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-items-words{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 10px;
}

.username-one-tweet{
    padding-left: 5px;
}

.tweet-reply-container{
    display: flex;
}

.outter-button-container-reply{
    background-color: rgb(29, 155, 240);
    width: 20%;
    outline: none;
    margin-right: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;
    left: 150px;
}
.new-tweet-button{
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1160px) {
    .outter-button-container-reply{
        left: 0;
    }
}

@media (max-width: 750px){
    .outter-button-container-reply{
        visibility: hidden;
    }
}
