.side-bar-container{
  /* -webkit-box-flex: 1; */
  /* -webkit-box-align: end; */
  z-index: 3;
  border: 0 solid black;
  display: flex;
    flex-direction: row;
}

.side-bar-icons{
    display: flex;
    flex-direction: column;
    /* justify-content: space-around; */
    height: 100%;
    position: fixed;
    padding-left: 12px;
    padding-right: 12px;
    width: 275px;
    user-select: none;
}

.interior-side-bar{
    width: 50%;
    height: 50%;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-left: 30%;
    /* flex-basis: auto; */
    /* flex-shrink: 0; */
}


.side-bar-icon{
    width: 100%;
    padding: 10%;
    box-sizing: border-box;
}
