.page-container{
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    height: 100%;
}


.center-container{
margin-left: 10%;
border: 1px solid rgb(56,68,77);
width: 100%;
}

.feed-container{
    width: 100%;
    /* border: 1px solid rgb(56,68,77); */
}

.tweet-header{
    border: 1px solid rgb(56,68,77);
    padding: 10px;
    transition-property: background-color;
    cursor: pointer;
}

.tweet-header:hover{
    background-color: rgba(70,70,70,0.5);
    transition-duration: .3s;
}

.tweet-action-icon-row{
    position: relative;
    padding-left: 40px;
}

.comment-icon{
    width: 25px;
}

.comment-icon:hover{
    background-color: rgba(0, 204, 255, 0.49);
    border-radius: 30%;
    transition-duration: .3s;
}

.dot-container{
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.tweet-action-icon-row{
    display: flex;
    /* justify-content: space-between; */
    border-bottom: solid 1px rgb(56,68,77);
    border-top: solid 1px rgb(56,68,77);
    padding-top: 10px;
    padding-bottom: 10px;

}

.tweetCount{
    padding-left: 2%;
}


.posted-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.tweet-feed-image{
    height: 250px;
    width: 250px;
}

.profile-pic{
    height: 40px;
    width: 40px;
}

.user-handle-info{
    padding-left: 10px
}
