/* TODO Add site wide styles */
body{
    background-color: rgb(21,32,43);
    color: white;
    /* display: flex;
    flex-direction: row; */
    height:100%;
}

.page-container{
    align-items: stretch;
    border: 0 solid black;
    box-sizing: border-box;
    display: flex;
    flex-basis: auto;
    flex-shrink: 0;
    position: relative;
}
