#email-field{
    margin-left: 50px;
}

#username-field{
    margin-left: 50px;
}

#confirm-password-field{
    margin-left: 50px;
}

#password-field{
    margin-left: 50px;
}

/* #signup-button{
    margin-left: 50px;
} */

.signup-items{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    padding: 5px;
}

.signup-buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25%;
    position: relative;
    left: 3%;
}
.input-box-signup{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

.signup-body{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-body{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.list-items{
    word-wrap: break-word;
}
