.edit-tweet-body-input{
    height: 100%;
    width: 120%;
    word-wrap: break-word;
    font-size: 18px;
    color: white;
    background-color: rgb(21,32,43);
    outline: none;
}

.submit-edit-button{
    position: relative;
    top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.new-tweet-button-one-tweet{
    color:white;
    width: 100px;
}

.button-holder{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.message-holder{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.go-back-holder{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.go-back-button{
    color:white;
    width: 100px;
}

.edit-form-container{
    height: 300px;
}
